body {
  background: #0a0f1c;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* headings */
h2, h3 {
  color: #00f7ff;
}

/* inputs */
input {
  padding: 10px;
  margin: 8px;
  border: none;
  outline: none;
  background: #111827;
  color: white;
  border-bottom: 2px solid #00f7ff;
}

/* buttons */
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  background: #00f7ff;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #00c3cc;
  box-shadow: 0 0 10px #00f7ff;
}

/* table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #00f7ff;
  padding: 10px;
}

th {
  background: #001f2f;
}

/* container box */
.form-box {
  background: #111827;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00f7ff;
}


